In [1]:
def flat_func(given_collection):
    flat_list=[]
    for each_element in given_collection:
        if type(each_element)==int or type(each_element)==float:
            flat_list.append(each_element)
        #elif type(each_element)==bool:
         #   flat_list.append(int(each_element))
        elif type(each_element)==list or type(each_element)==set or type(each_element)==tuple:
            flat_list.extend(flat_func(each_element))
        elif type(each_element)==dict:
            for each_nested_element in each_element.keys():
                if type(each_nested_element)==int or type(each_nested_element)==float:
                    flat_list.append(each_nested_element)
            for each_nested_element in each_element.values():
                if type(each_nested_element)==int or type(each_nested_element)==float:
                    flat_list.append(each_nested_element)
                elif type(each_nested_element)==list or type(each_nested_element)==tuple or type(each_nested_element)==set:
                    flat_list.extend(flat_func(each_nested_element))

    return flat_list


given_list = [1,2,3,4,[44,55,66,True],False,(34,56,78,89,34),{1,2,3,3,2,1},{1:34,'key2':[55,67,78,89],4:(45,22,61,34)},[56,'data science'],'Machine Learning']

flat_list=flat_func(given_list)

result = 1
for each_element in flat_list:
    result = result*each_element

print('Flat List: ', flat_list)
print('Product of all the numbers: ',result)

Flat List:  [1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56]
Product of all the numbers:  4134711838987085478833841242112000

In [2]:
# Ans+-2
Input_Sentence = 'I want to become a Data Scientist'
input_Line=Input_Sentence.lower()

x = {"a": "x", "b": "y",
		"c": "z"," ":"$"}
num = input_Line
# Replace vowels using loops
for i in x:
	num = num.replace(i, x[i])

# f- strings which improves readability
print(num)

i$wxnt$to$yezome$x$dxtx$szientist

str